@import url('https://fonts.googleapis.com/css?family=Playball');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    background-image: url(./imgs/la-header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    font-family: 'Playball', cursive;
    color: #F6FAF4;
    text-align: center;
}

h1 {
    font-size: 75px;
    padding-top: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    background-color: black;
}

nav li{
    display: inline-block;
}

nav a {
    font-family: 'Playball', cursive;
    text-decoration: none;
    color: #D7CEBD;
    font-size: 20px;
    padding: 10px;
}

h2 {
    font-family: 'Playball', cursive;
    font-size: 40px;
}

.aboutme-content {
    display: flex;
    justify-content: space-between;
}

.aboutme-content p {
    margin: 0 100px;
}

p {
    font-size: 20px;
}

#portfolio {
    display: flex;
}

#portfolio h2 {
    justify-content: flex-end;
}
